<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}翻转课堂{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/common.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <!-- vue.js -->
    <script src="/static/dist/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- end of vue.js -->
</head>
<body>
    <!-- 头部区域 -->
    <div class="header clearfix">
        <div class="w">
            <a href="" class="home"><h1>翻转课堂</h1></a>
            <ul class="nav">
                <li><a href="">课程广场</a></li>
                <li><a href="">明星教师</a></li>
                <li><a href="">团队</a></li>
            </ul>
            <div class="search">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-sousuo"></use>
                </svg>
                <input type="text" placeholder="搜索课程/教师/团队/用户">
            </div>
            <div class="user">
                <button class="login">登录</button>
                <button class="registered">注册</button>
            </div>
        </div>

    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <div class="content_left">
            <h2>翻转课堂介绍啊啊</h2>
        </div>
    </div>
    <!--底部区域-->
    <div class="footer">
        啊，这里也不知道写些什么好呢
    </div>


    <!-- 引入字体图标 -->
    <script src="/static/fonts/iconfont.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/head.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>
